# Binaries
terraform-validator
bin/terraform-validator*

# Sensitive
credentials.json

# Terraform (possibly sensitive)
.terraform/
*.tfplan
*.tfstate*

# Visual Studio Code
.vscode/
# Intellij Golang
.idea/